@model Gym.Models.Besari

@{
    ViewData["Title"] = "CreateBesari";
}

<h1>יצירת מאכל בשרי חדש</h1>

<h4>מאכל בשרי</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBesari" enctype="multipart/form-data">
           @* enctype חשוב לצורך הוספת קבצים*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="calories" class="control-label"></label>
                <input asp-for="calories" class="form-control" />
                <span asp-validation-for="calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="carbs" class="control-label"></label>
                <input asp-for="carbs" class="form-control" />
                <span asp-validation-for="carbs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fats" class="control-label"></label>
                <input asp-for="fats" class="form-control" />
                <span asp-validation-for="fats" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="photo" class="control-label"></label>
                <input type="file" asp-for="file" class="form-control" />
               @* לשים לב שהטייפ הוא פייל*@
                <span asp-validation-for="file" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="הוסף" class="btn2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Menu" asp-controller="Manager">חזור לרשימה</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
